<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jtopo-0.4.8-min.js"></script>

      <script type="text/javascript" src="javascripts/config.js"></script>
      <script type="text/javascript" src="javascripts/mytopo.js"></script>
      <script type="text/javascript" src="javascripts/toolbar.js"></script>
      <script type="text/javascript" src="javascripts/tooldrag.js"></script>
  </head>
  <body>
  <div id="content" style="width:1200px;position:relative;">
      <div style="width: 1200px;height: 70px;border: 1px solid rgb(68, 68, 68);position:absolute; top:35px;">
          <!--原始节点  -->
          <canvas id='console' width='50' height='70'
                  draggable="true" ondragstart="drag(event)">
              当前浏览器无法使用canvas标签，请更换新版本浏览器
          </canvas>
          <canvas id='radio' width='50' height='70'
                  draggable="true" ondragstart="drag(event)">
              当前浏览器无法使用canvas标签，请更换新版本浏览器
          </canvas>
          <canvas id='repeater' width='50' height='70'
                  draggable="true" ondragstart="drag(event)">
              当前浏览器无法使用canvas标签，请更换新版本浏览器
          </canvas>
          <canvas id='server' width='50' height='70'
                  draggable="true" ondragstart="drag(event)">
              当前浏览器无法使用canvas标签，请更换新版本浏览器
          </canvas>
      </div>
      <div id="dst" ondrop="drop(event)" ondragover="allowDrop(event)">
          <ul id="contextmenu" style="display:none;">
              <li><a>顺时针旋转</a></li>
              <li><a>逆时针旋转</a></li>
              <li><a>更改颜色</a></li>
              <li><a>放大</a></li>
              <li><a>缩小</a></li>
              <li><a>删除该节点</a></li>
          </ul>
          <canvas width="1200px" height="550px" id="canvas"
                  style="border: 1px solid rgb(68, 68, 68);"  >
              当前浏览器无法使用canvas标签，请更换新版本浏览器</canvas>
      </div>
  </div>
  </body>
</html>
